* {
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    border: 0px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}

picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    height: 200px;
    flex: 1;
}

picture img {
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
}

.button {
    border-radius: 15px;
    display: inline-block;
    background: #3882F6;
    color: white;
    font-size: 1.2em;
    padding: .6em 1em;
}

inner-column about {
    border: none;
    display: block;
}

about h1 {
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    flex: 1;
}

about p {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    flex: 1;
}

inner-column sign {
    border: none;
    display: block;
}

sign h1 {
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 0px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
}

welcomediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    flex: 1;
}

welcomediv text-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

welcomediv text-content p{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
}

welcomediv text-content h1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
}

welcomediv text-content .button{
    margin-top: 10px;
    font-style: sans-serif;
    font-size: 20px;
    margin-left: 28%;
}

welcomediv picture{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: none;
    flex: 1;
}

@media (min-width: 700px){
    welcomediv{
        flex: 1;
        flex-direction: row-reverse;
    }
    welcomediv :is(text-content, picture) {
        flex-basis: 50%;
    }
}

body {
    background: ghostwhite;
    display: flex;
    flex-direction: column;
    /*border: 10px solid black;*/
    min-height: 100vh;
}

main {
    flex-grow: 1;
    /*border: 4px solid orange;*/
}

main sections {
    /*border: 4px solid orange;*/
}

sections {
    display: block;
    flex: 1;
    /*border: 4px solid black;*/
}

inner-column {
    display: block;
    border: 0px solid black;
    width: 98%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

inner-column header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

inner-column header h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    flex: 1;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 22.5px;
    font-family:'Courier New', Courier, monospace;
}

@media (min-width: 700px){
    header{
        flex: 1;
        flex-direction: row;
    }
    header :is(inner-column, .links) {
        flex-basis: 17%;
    }
}

header {
    display: flex;
    color: whitesmoke;
    border: none;
    background: cadetblue;
    min-height: 65px;
    max-height: 65px;
    border-radius: 2px;
    flex: 1;
}

footer p {
    border: 0px solid ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-family:'Monaco', Monaco, monospace;
    font-weight: lighter;
    align-items: center;
}

.headcontainer {
    background: cadetblue;
}

.bodycontainer {
    background: ghostwhite;
}

.footcontainer {
    background: cadetblue;
}

p {
    color: whitesmoke;
    font-weight:light;
    font-family:'Monaco', Monaco, monospace;
}